<h1>Editing post</h1>

<%= render 'form' %>

<!-- 
Again, as with the new action, the edit action 
is using the form partial. This time, however, 
the form will do a PUT action to the PostsController 
and the submit button will display “Update Post”.

I guess rails just knows to display Update Post for the submit button.

Submitting the form created by this view will invoke 
the update action within the controller:
-->

<%= link_to 'Show', @post %> |
<%= link_to 'Back', posts_path %>
