<h1>New post</h1>

<%= render 'form' %>

<!-- 
the above line is the first intro to partials
in rails. A partial is a snippet of HTML and 
Ruby code that can be reused in multiple 
locations. In this case, the form used to make 
a new post is basically identical to the form 
used to edit a post, both having text fields 
for the name and title, a text area for the 
content, and a button to create the new post 
or to update the existing one.
views/posts/_form.html.erb

http://guides.rubyonrails.org/
layouts_and_rendering.html#using-partials
-->

<%= link_to 'Back', posts_path %>
